{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

<body>
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Registrar usuario</h2>
                        <hr>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <input type="submit" value="Registrarse" class="btn btn-success float-right">
                            <input type="reset" value="Limpiar" class="btn btn-danger float-left">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock %}