{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

<link rel="stylesheet" href="{% static 'app/dist/css/agremod.css' %}">
<body>
    <section class="forma">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            {{form|crispy}}
                        </table>
                        {% if perms.app.add_producto %}
                        <input type="submit" class="btn btn-success" value="Guardar">
                        <input type="reset" class="btn btn-danger" value="Limpiar">
                        {% endif %}
                    </form>
                </div>
                {{mensaje}}
            </div>
            <div class="col-sm-2"></div>
        </div>
    </section>
</body>

{% endblock %}